/*****************Right container: interactive layer*************************/
.rightcon{  
  width: 80%;
  height: 100%;
  margin-left: 2%;
  padding: 10px;
  background-color: beige;
  border: 2px solid chocolate;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%--hover box --%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.HoverContainer{ 
  width: 40%;
  height: 150px;   
  margin: 0% 0 0% 30%;
  text-align: center;
}
.HoverContainer p{ 
  font-family: "Rubik Burned", serif;
  font-size: 18px;
  color: bisque;
  margin: -90px 0 5% 0;
}
.HoverContainer img{ 
  width: 100%;
  height: 150px;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%--Eberron Map--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.mapToolMasterDiv{
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mapToolIndex{
  width: 20%;
}
.mapToolIndex img{
  width: 100%;
  height: 400px;
}

.imgbox_rightcon{
  height: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.mainmap_rightcon {
  border: 2px solid black;
  height: 1000px;
  width: 1400px;
}
.map_pin1{
  height: 10%;
  width: 5%;
  margin: -250px 0 0 0;
}
.map_pin2{
  height: 10%;
  width: 5%;
  margin: -250px 0 0 0;
}
.map_pin3{
  height: 10%;
  width: 5%;
  margin: -250px 0 0 0;
}
.map_pin4{
  height: 10%;
  width: 5%;
  margin: -250px 0 0 0;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%--summary box--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.summbox{
  width: 95%;
  height: auto;
  border: 2px solid chocolate;
  background-color: bisque;
  margin-left: 2%;
}
.summhead{
  font-size: small;
}