/*****************Right container: interactive layer*************************/
.rightcon{  
  width: 80%;
  height: 100%;
  margin-left: 2%;
  padding: 10px;
  background-color: beige;
  border: 2px solid chocolate;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%--hover box --%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.HoverContainer{ 
  width: 40%;
  height: 150px;   
  margin: 0% 0 0% 30%;
  text-align: center;
}
.HoverContainer p{ 
  font-family: "Rubik Burned", serif;
  font-size: 18px;
  color: bisque;
  margin: -90px 0 5% 0;
}
.HoverContainer img{ 
  width: 100%;
  height: 150px;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%--Eberron Map--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.imgbox_rightcon{
  height: 400px;
  width: 100%;
}
.mainmap_rightcon {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  margin: 0;
}
.map_pin1, .map_pin2, .map_pin3, .map_pin4{
  height: 10%;
  width: 5%;
  margin: -20% 0 0 0;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%--summary box--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.summbox{
  width: 95%;
  height: auto;
  border: 2px solid chocolate;
  background-color: bisque;
  margin-left: 2%;
}
.summhead{
  font-size: small;
}