

/*****************Right container: interactive layer*************************/
.rightcon{  
  width: 80%;
  height: 100%;
  margin-left: 2%;
  padding: 10px;
}

/*********Loot Gen section 1 (sec1): Location Buttons*************/
.rightcontop{ /*sec1 container*/
  width: 100%;
  height: 12%;
  background-color: beige;
  border: 2px solid chocolate;
  align-items: center;
}
.rightcontop p{
  text-align: center;
  margin: 0%;
}
.lootLocationSelector_Options{
  height: 5%;
  display: flex;
  flex-direction: row;
}
.lctnSelector_Con{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1% 0% 0% 0%;
  width: 16.5%;
  height: 100%;
  padding: 3% 0% 6% 0%;
}
 img{
  height: 100%;
  width: 50%;
  margin: 0% 0% 0% 25%;
}
.lootLocationSelector_Options img:hover{
  cursor: pointer;
}
.lctnSelector_Hover{
  height: 20%;
  width: 20%;
  margin: -40% 0% 0% 40%;
  rotate: 45deg;
  opacity: 0;
}
.lctnSelector_Active{
  opacity: .8;
  cursor: pointer;
}
.lctnSelector_Active_2{
  opacity: .8;
}
button:hover{
  cursor: pointer;
}
/*********Loot Gen section 2 (sec2): Roll method calculator*************/
.rightconbody{ /*sec2 whole container*/
  width: 100%;
  height: 30%;
  background-color: beige;
  border: 2px solid chocolate;
  margin-top: 1%;
}
.rightConBody_H{ /*sec2 header*/
  width: 100%;
  justify-content: center;
  display: flex;
}
.treasureChestContainer{ /*sec2 treasure chest container*/
  width: 100%;
  height: 250px;
}
.treasureChestContainer img{
  height: 230px;
  width: 30%;
  margin: 0% 0% 0% 10px;
}
.rollerBox{ /*sec2: roller container (When selected, each treasure chest creates a prompt. This box governs the layout of the prompts)*/
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  padding: 0 5% 0 5%;
}
    .rollerBox button{
      width: 25%;
      height: 20px;
      font-size: 70%;
    }
    .inputRoll{
      margin: 0 7.5% 0 7.5%;
    }
    
.d20ValueCon, .inputStatCon, .randRollCon{
  height: 250px;
  width: 30%;
  background-color: beige;
  border: 2px solid chocolate;
  opacity: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: left;
  }
.d20ValueCon{
  margin: -245px 0px 0px 3%;
}
    .d20ValueCon label{
      margin: 60px 0px 0px 4%;
    }
    .d20ValueCon input{
      margin: 5px 0px 0px 30%;
      width: 40%;
    }
    .d20ValueCon button{
      margin: 80px 0px 2px 20%;
      width: 60%;
    }
.inputStatCon{
  margin: -254px 0px 0px 35%;
}
    .inputStatCon label{
      margin: 2px 0px 0px 4%;
    }
    .inputStatCon input{
      margin: 2px 0px 0px 20%;
      width: 60%;
    }
    .inputStatCon select{
      margin: 2px 0px 0px 40%;
      width: 20%;
    }
    .inputStatCon button{
      margin: 16px 0px 2px 20%;
      width: 60%;
    }
.randRollCon{
  margin: -254px 0px 0px 67%;
}
    .randRollCon img{
      margin: 30px 0px 0px 20%;
      width: 60%;
      height: 50%;
    }
    .randRollCon p{
      margin: -76px 0px 0px 0%;
      color: white;
      font: arial;
      font-size: 30px;
      text-align: center;
    }
    .randRollCon button{
      margin: 42px 0px 5px 20%;
      width: 60%;
    }
/*********Loot Gen section 3 (sec3): results table*************/
.rightconfoot{ /*sec3 container*/
  width: 100%;
  height: 100%;
  background-color: beige;
  border: solid chocolate;
  margin-top: 1%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.rightConFoot_H{ /*sec3 header*/
  width: 100%;
  justify-content: center;
  align-items: top;
  display: flex;
  height: 5%;
  margin-top: 2%;
  margin-bottom: 0%;
}
.lootResultsCon{ /*sec3 container holding the results table*/
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}
.copyToClipboardDiv{
  justify-content: right;
  width: 95%;
  height: 3%;
  display: flex;
}
.lootResultsTable{ /*sec3 results of loot query*/
  width: 95%;
  height: 20%;
  table-layout: fixed;
  text-align: left;
  text-justify: top;
}
th{
  border: solid chocolate;
  text-align: left;
}
.deleteformat{
  display: flex;
  flex-direction: row;
  align-content: right;
}
.priceText{
  height: 10%;
  width: 25%;
  padding: 0% 0% 0% 0%;
  margin: 0% 25% 0% 0%;
}
.lootResultsTable button{
  height: 10%;
  width: 25%;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 25%;  
}